@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
margin:0 ;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
    background:rgb(255, 113, 113);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
     min-height: 1000px;
     max-width: 400px;
     margin: 50px;
     background: rgb(255, 255, 255);
     width:100% ;
}

.container .left{
    position: relative;
    background:rgb(98, 21, 21);
    padding-left: 50px;
}

.o{
    position: relative;
    width:160px ;
    height:160px ;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 50%;
}

.name{
    padding-top: 30px;
    color: aliceblue;
    font-size: 40px;
    padding-right: 50px;
    font-style: oblique;
}
.name1{
    color: aliceblue;
    font-size: 40px;
    padding-right: 50px;
    font-style: oblique;
    padding-bottom: 40px;
    border-bottom: 3px solid aliceblue;
}

.social a{
    padding-top: 40px;
    display: block;
color: rgb(255, 255, 255);

}

.social a span{
    padding-top: 3px;
    padding-left: 17px;
color: rgb(208, 171, 171);
}
.p{
padding-top: 40PX;
border-bottom: 3px solid aliceblue;
}

.english{
    margin-top: 40px;
    color: #ffffff;
    font-size: 14px;
}

.line{
display: flex;
}
.under{
   background: rgb(189, 5, 5);
    position: relative;
    height: 7px;
    width: 59%;
    margin-top: 8px;
}
.score{
    background: rgb(160, 127, 127);
     position: relative;
     height: 7px;
     width: 30%;
     margin-top: 8px;
     margin-bottom: 40px;
}
.language{
    margin-top: 10px;
    color: #ffffff;
    font-size: 20px;
}
.html{
    margin-left: 30px;
    margin-top: 60px;
    color: #bd3434;
    font-size: 21px;
}

.line2{
    margin-left: 30px;
    padding-top: 13px;
display: flex;
}
.under2{
   background: rgb(189, 5, 5);
    position: relative;
    height: 7px;
    width: 59%;
    margin-top: 8px;
}
.score2{
    background: rgb(160, 127, 127);
     position: relative;
     height: 7px;
     width: 30%;
     margin-top: 8px;
}
.experiences{
    margin-top: 10px;
    color: rgb(189, 5, 5);
    font-size: 23px;
    padding-left: 40px;
    padding-top: 30px;
}

.line3{
    margin-left: 30px;
    padding-top: 3px;
display: flex;
margin-bottom: 40px;
}
.under3{
   background: rgb(189, 5, 5);
    position: relative;
    height: 7px;
    width: 59%;
}
.score3{
    background: rgb(160, 127, 127);
     position: relative;
     height: 7px;
     width: 30%;
}
.cube{
    padding-left: 45px;
    color: rgb(189, 5, 5);
    font-style: initial;
    padding-right:20px ;
    
}
.cb{
    padding-bottom: 50px;
}