@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url(Untitled1627.jpg);
}

header {
  position: relative;
}

h1 {
      text-align: center;
      color: rgb(255, 255, 255);
      margin-bottom: 40px;
    }
/* زر الرجوع */
.x {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    z-index: 999;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .x:hover {
    background-color: rgb(198, 71, 71);
    transform: scale(1.05);
    cursor: pointer;
  }

/* المعرض */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

/* الصور */
.p {
  max-height: 310px;
  border-radius: 11px;
  border: 2px solid rgb(198, 71, 71);
  transition: transform 0.2s ease;
}

.p:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 1024px) {
  .p {
    max-height: 200px;
  }
}
